body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 85vw;
  margin-bottom: 0.5rem;
}

.inline-time {
  border: 2px solid rgba(0, 0, 0, .125);
  border-radius: 1rem 0 0 1rem;
  padding: 2.75rem 3.25rem;
  width: 15rem;
  height: 100%;
  text-align: center;
  height: 110px;
  font-size: 1.3rem;
}

.list-group-item {
  padding: 0;
  border: none;
  margin: 0.5rem 0;
}

.set-btn {
  padding: 2.75rem 3.25rem;
  width: 15rem;
  border: none;
  background-color: royalblue;
  border-radius: 0 1rem 1rem 0;
  height: 110px;
  font-size: 1.3rem;
}

.schedule-item {
  width: 100%;
  padding: 2.75rem 3.25rem;
  border: none;
}

@media screen and (max-width: 768px) {
  .list-group-item {
    flex-direction: column;
  }

  .inline-time {
    width: 80vw;
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 1rem 1rem 0 0;
  }

  .schedule-item {
    width: 80vw;
  }

  .set-btn {
    width: 80vw;
    border-radius: 0 0 1rem 1rem;
  }
}